section.exhibition-info {

  .columns {
    height: 100%;
    display: flex;

    .column {
      align-self: center;
      flex: 0 0 50%;

      &:nth-of-type(1) {
        .image {
          width: 40rem;
          height: 50rem;
          opacity: .4;
          margin: auto;
          filter: saturate(0);
          position: relative;
        }
      }

      &:nth-of-type(2) {
        .text {
          max-width: 50rem;
          padding-left: 2rem;

          .button {
            overflow: hidden;
            position: relative;
            margin-right: 2rem;
            margin-bottom: 2rem;

            &:last-of-type {
              margin-right: 0;
            }

            &:hover {
              @include buttonBackgroundGlitch(graduateButtonAnim, $magenta, $green, $white, alternate);
            }
          }
        }
      }
    }

    @media (max-width: 932px) and (min-width: 769px) {
      .text {
        .button {
          display: block;
          text-align: center;
          margin-right: 2rem !important;
        }
      }
    }

    @media (max-width: 768px) {
      .column:first-of-type {
        display:  none;
      }

      .column {
        flex: 1 1 100%;

        .text {
          margin-left: auto;
          text-align: right;
        }
      }

    }
  }
}
