/* GRADUATE SINGLE
---------------------------------------------------------------------------------------------------- */
.graduate-single {
  height: 100vh;

  canvas {
    border-radius: 100% !important;
    overflow: hidden;
  }

  &.noWorks {
    .circle.large {
      display: none;
    }

    .profile {
      margin: auto;
      top: auto !important;
      max-width: 45rem;
      border-radius: 100% !important;
      overflow: hidden;
    }

    .image {
      margin-bottom: 0 !important;
    }
  }

  @media (max-width: 768px) {
    height: auto !important;
    min-height: 100vh;
    padding: 10rem 0;
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;

    .image {
      flex: 1 1 50%;
      position: relative;
      padding-right: 2.5rem;
      margin-bottom: -12.5rem;

      @media (max-width: 500px) {
        margin-bottom: -8.75rem;
      }

      .circle.large {
        position: relative;
        margin: auto;
        position: relative;
        overflow: hidden;
        box-shadow: 5px -5px 20px rgba($black, .4);
        animation-name: float;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;

        .img-container {
          position: absolute;
          width: 100%;
          height: 100%;
          background-position: center;
          background-size: cover;
          cursor: pointer;
        }

        .slider {
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          &:before {
            content: '';
            display: block;
            position: relative;
            background: rgba($black, .5);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            animation: hoverToSlide 1s forwards;
          }

          @keyframes hoverToSlide {
            from {
              opacity: 1;
            }

            to {
              opacity: 0;
            }
          }

          .slick-arrow {
            position: absolute;
            top: 50%;
            z-index: 10;
            transform: translate(0, -50%);
            color: rgba($white, 0.5);
            font-size: 2rem;
            cursor: pointer;
            transition: color .3s ease, transform .5s ease;
            padding: 2rem;

            &:hover {
              color: $white;
            }

            &.slick-prev {
              left: -4.5rem;
              &:hover {
                transform: translate(-1rem, -50%);
              }
            }

            &.slick-next {
              right: -4.5rem;
              &:hover {
                transform: translate(1rem, -50%);
              }
            }
          }

          .slick-list,
          .slick-track {
            height: 100%;
            position: relative;
            display: block;
            z-index: 100;
          }

          .slide {
            border-radius: 100%;
            overflow: hidden;
            background-position: center;
            background-size: cover;
          }
        }
      }

      .profile {
        background-position: center;
        background-size: cover;
        box-shadow: $inner-box-shadow;
        top: -12.5rem;
        border-radius: 12.5rem;

        &:after {
          content: '';
          position: relative;
          height: 100%;
          width: 100%;
          box-shadow: 5px -5px 20px rgba($black, .1);
          border-radius: 100%;
        }

        animation: float 10s infinite;

        @media (max-width: 500px) {
          max-width: 17.5rem;
          max-height: 17.5rem;
        }
      }
    }

    .text {
      flex: 1 1 50%;
      padding-left: 2.5rem;

      hr {
        height: 2px;
        background: rgba(white, .2);
        margin-bottom: 2rem;
        width: 10rem;
      }

      .graduate-socials {

        &:hover {
          a {
            opacity: .4;
          }
        }

        a {
          display: inline-flex;
          color: $white;
          font-size: 2rem;
          margin-right: 4rem;
          transition: opacity .3s ease, transform .5s ease;;

          &:hover {
            opacity: 1;
            transform: translateY(-0.25rem);
          }
        }
      }
    }

    @media (max-width: 768px) {
      .image {
        flex: 1 100%;
        padding: 0;
      }

      .text {
        flex: 1 100%;
        padding: 0;
      }
    }
  }
}

.graduate-navigation-container {

  @media (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin: 5rem 0;
  }
}

.graduate-navigation {
  writing-mode: vertical-lr;
  text-orientation: upright;
  -webkit-text-orientation:  upright;
  position: fixed;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 0 1.5rem;


  .nav-text {
    position: absolute;
    transition: transform 0.2s ease;
    padding: 0.5rem;

    a {
      font-size: 1.2rem;
      font-family: $font-nav;
      text-transform: uppercase;
      font-weight: bold;
      color: $white;
      text-decoration: none;
    }

    @media (max-width: 768px) {
      position: relative;
    }
  }

  .arrow-left, .arrow-right {
    position: absolute;
    transition: transform 0.2s ease, opacity 0.2s ease;
    opacity: 0;

    @media (max-width: 768px) {
      position: relative;
      opacity: 1;
    }
  }

  &.left {
    left: 0;

    &:hover {
      .nav-text {
        transform: translateX(1rem);
      }

      .arrow-left {
        transform: translateX(-0.5rem);
        opacity: 1;
      }
    }
  }

  &.right {
    right: 0;

    &:hover {
      .nav-text {
        transform: translateX(-1rem);
      }

      .arrow-right {
        transform: translateX(0.5rem);
        opacity: 1;
      }
    }
  }

  @media (max-width: 768px) {
    position: relative;
    width: auto;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1.5rem;
    writing-mode: horizontal-tb;
    text-orientation: initial;
  }
}

.touchDevice {
  .graduate-single {
    .left {
      .nav-text {
        transform: translateX(2rem);
      }

      .arrow-left {
        transform: translateX(0rem);
        opacity: 1;
      }
    }

    .right {
      .nav-text {
        transform: translateX(-2rem);
      }

      .arrow-right {
        transform: translateX(0rem);
        opacity: 1;
      }
    }
  }
}
