/* GRADUATES
---------------------------------------------------------------------------------------------------- */
body.page-graduates {
  height: 16500px;
}

.graduates-introduction {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 200;
  // opacity: 0;
  max-width: 120rem;
  margin: auto;  
  pointer-events: none;

  &.fadeOut {
    animation-duration: 0.5s;
  }
}

.graduates-viewport {
 position:fixed;
 perspective: 100px;
 perspective-origin:50% 50%;
 border: 2px solid black;
 height: 100%;
 width: 100%;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 z-index: 1;
 opacity: 0;

 &.fadeIn {
   animation-duration: 2s;
 }

}

.graduate-group {
 position:absolute;
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;


  @for $i from 10 through 1 {
    &:nth-of-type(#{$i}) {
    }
  }

  @for $i from 10*-1 through -1 {
    &:nth-child(#{abs($i)}) {
      z-index: #{$i};
    }
  }
}


.graduate-discipline {
	position: absolute;
	left: -5rem;
	top: 1.5rem;
	max-width: 25rem;
	text-transform: uppercase;
	color: $magenta;
	font-weight: bold;
	display: none;
}

.graduate-name {
	position: absolute;
	max-width: 25rem;
  left: 50%;
  top: 75%;
	background: $background;
  margin: 0;
  padding: 0.5rem 1rem;
  z-index: 50;
  display: block;
  box-shadow: -1px 9px 25px 6px rgba($background, 0.6);
  transition: background .2s ease;
  overflow: hidden;


  h2 {
    margin: 0;
  }

  &:hover {
    @include buttonBackgroundGlitch(graduateNameAnim, $navy, $blue, $neon-pink, normal);

    h2 {
      transform: translateX(10px);
    }
  }

}

.graduate {
  &:hover {
    transform: translate3d(0px, -10px, 0) scale(1.025);
    cursor: pointer;
    box-shadow: 0px -15px 50px 10px rgba($dark-blue, 0.2) inset;
  }

  &.dull:before {
    position: absolute;
		width: 100%;
		height: 100%;
		background: $radial-gradient;
		border-radius: 50%;
		opacity: 0.3;
  }
}


.filters {
  position: fixed;
  z-index: 2;
  right: 0;
  top: 0;
  text-align: right;
  font-family: $font-nav;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.25rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: right;
  opacity: 0;

  &.fadeIn {
    animation-duration: 2s;
  }

  ul {
    list-style: none;
  }

  li {
    cursor: pointer;
    padding: 1rem;
    transition: all 0.4s ease;
    color: rgba($white, 0.4);

    &:not(.selected):hover {
      color: $white;
      transform: translateX(-1rem);
    }

    &.selected {
      color: $white;
    }
  }
}

// test dsrupt title
.intro-title-container {
  width: 100%;

  .intro-title {
    font-family: $font-disrupt;
    font-size: 10rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
    text-transform: uppercase;
    opacity: 0;

    &.fadeIn {
      animation-duration: 2s;
    }

    &.fadeOut {
      animation-duration: 0.5s;
    }
  }
}

.we-are {
  opacity: 0;
  &.fadeIn {
    animation-duration: .5s;
  }
}

.scroll-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;

  p {
    margin-bottom: 1.5rem;
  }

  .down-arrow {
    animation: float 5s ease infinite;
  }

  &.fadeIn {
    animation-duration: 1s;
  }

  &.fadeOut {
    animation-duration: 1s;
  }
}

// temporary graduate photo classes

.sam {
  background-image: url('../img/portraits/sam.png');
}

.meaghan {
  background-image: url('../img/portraits/meaghan.png');
}

.anna {
  background-image: url('../img/portraits/anna.png');
}

.jimmy {
  background-image: url('../img/portraits/jimmy.png');
}

.liv {
  background-image: url('../img/portraits/liv.png');
}

.nicole {
  background-image: url('../img/portraits/nicole.png');
}

.brooke {
  background-image: url('../img/portraits/brooke.png');
}

.douglas {
  background-image: url('../img/portraits/douglas.png');
}

.monica {
  background-image: url('../img/portraits/monica.png');
}

.mitchell {
  background-image: url('../img/portraits/mitchell.png');
}

.bridget {
  background-image: url('../img/portraits/bridget.png');
}

.julia {
  background-image: url('../img/portraits/julia.png');
}

.unknown2 {
  background-image: url('../img/portraits/unknown2.png');
}

.holly {
  background-image: url('../img/portraits/holly.png');
}

.adam {
  background-image: url('../img/portraits/adam.png');
}

.joelle {
  background-image: url('../img/portraits/joelle.png');
}

.eloise {
  background-image: url('../img/portraits/eloise.png');
}

.unknown1 {
  background-image: url('../img/portraits/unknown1.png');
}

.tori {
  background-image: url('../img/portraits/tori.png');
}

.amira {
  background-image: url('../img/portraits/amira.png');
}

.caitlin {
  background-image: url('../img/portraits/caitlin.png');
}

.jennifer {
  background-image: url('../img/portraits/jennifer.png');
}

.lincoln {
  background-image: url('../img/portraits/lincoln.png');
}

.nissa {
  background-image: url('../img/portraits/nissa.png');
}
