/* GRADUATE SINGLE
---------------------------------------------------------------------------------------------------- */
.graduate-single {
  height: 100vh;

  @media (max-width: 768px) {
    height: auto !important;
    min-height: 100vh;
    padding: 10rem 0;
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;

    .image {
      flex: 1 1 50%;
      position: relative;
      padding-right: 2.5rem;
      margin-bottom: -12.5rem;

      @media (max-width: 500px) {
        margin-bottom: -8.75rem;
      }

      .circle.large {
        margin: auto;
        position: relative;
        overflow: hidden;
        box-shadow: 5px -5px 20px rgba($black, .4);
        animation-name: float;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;

        .slider {
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          &:before {
            content: '';
            display: block;
            position: relative;
            background: rgba($black, .5);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            animation: hoverToSlide 1s forwards;
          }

          @keyframes hoverToSlide {
            from {
              opacity: 1;
            }

            to {
              opacity: 0;
            }
          }

          &:hover {
            &:after {

            }
          }

          .slick-arrow {
            position: absolute;
            top: 50%;
            z-index: 10;

            &.slick-prev {
              left: calc(50% - 4rem);
              transform: translate(-100%, -50%);
            }

            &.slick-next {
              right: calc(50% - 4rem);
              transform: translate(100%, -50%);
            }
          }

          .slick-list,
          .slick-track {
            height: 100%;
          }

          .slide {
            background-position: center;
            background-size: cover;
          }
        }
      }

      .profile {
        background-position: center;
        background-size: cover;
        box-shadow: $inner-box-shadow;
        top: -12.5rem;

        &:after {
          content: '';
          position: relative;
          height: 100%;
          width: 100%;
          box-shadow: 5px -5px 20px rgba($black, .1);
          border-radius: 100%;
        }

        animation: float 10s infinite;

        @media (max-width: 500px) {
          max-width: 17.5rem;
        }
      }
    }

    .text {
      flex: 1 1 50%;
      padding-left: 2.5rem;

      hr {
        height: 2px;
        background: rgba(white, .2);
        margin-bottom: 2rem;
        width: 10rem;
      }

      .graduate-socials {

        a {
          display: inline-flex;
          color: $white;
          font-size: 2rem;
          margin-right: 4rem;
        }
      }
    }

    @media (max-width: 768px) {
      .image {
        flex: 1 100%;
        padding: 0;
      }

      .text {
        flex: 1 100%;
        padding: 0;
      }
    }
  }
}
