/* GRADUATE SINGLE
---------------------------------------------------------------------------------------------------- */
.graduate-single {
  height: 100vh;

  .wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;

    .image {
      flex: 1 1 50%;
      position: relative;
      padding-right: 2.5rem;
      margin-bottom: -12.5rem;

      @media (max-width: 500px) {
        margin-bottom: -8.75rem;
      }

      .circle.large {
        margin: auto;
        position: relative;
        box-shadow: 5px -5px 20px rgba($black, .4);
        animation-name: float;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;

        .slider {
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          &:before {
            content: '';
            display: block;
            position: relative;
            background: rgba($black, .5);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            animation: hoverToSlide 1s forwards;
          }

          @keyframes hoverToSlide {
            from {
              opacity: 1;
            }

            to {
              opacity: 0;
            }
          }

          &:hover {
            &:after {

            }
          }

          .slick-arrow {
            position: absolute;
            top: 50%;
            z-index: 10;
            color: red;
            transform: translate(0, -50%);
            color: rgba($white, 0.5);
            font-size: 2rem;
            cursor: pointer;
            transition: color .3s ease, transform .5s ease;
            padding: 2rem;

            &:hover {
              color: $white;
            }

            &.slick-prev {
              left: -4.5rem;
              &:hover {
                transform: translate(-1rem, -50%);
              }
            }

            &.slick-next {
              right: -4.5rem;
              &:hover {
                transform: translate(1rem, -50%);
              }
            }
          }

          .slick-list,
          .slick-track {
            height: 100%;
          }

          .slick-list {
            border-radius: 100%;
            overflow: hidden;
          }

          .slide {
            background-position: center;
            background-size: cover;
          }
        }
      }

      .profile {
        background-position: center;
        background-size: cover;
        box-shadow: $inner-box-shadow;
        top: -12.5rem;

        &:after {
          content: '';
          position: relative;
          height: 100%;
          width: 100%;
          box-shadow: 5px -5px 20px rgba($black, .1);
          border-radius: 100%;
        }

        animation: float 10s infinite;

        @media (max-width: 500px) {
          max-width: 17.5rem;
        }
      }
    }

    .text {
      flex: 1 1 50%;
      padding-left: 2.5rem;

      hr {
        height: 2px;
        background: rgba(white, .2);
        margin-bottom: 2rem;
        width: 10rem;
      }

      .graduate-socials {

        &:hover {
          a {
            opacity: .4;
          }
        }

        a {
          display: inline-flex;
          color: $white;
          font-size: 1.5rem;
          margin-right: 4rem;
          transition: opacity .3s ease, transform .5s ease;;

          &:hover {
            opacity: 1;
            transform: translateY(-0.25rem);
          }
        }
      }
    }

    @media (max-width: 768px) {
      .image {
        flex: 1 100%;
        padding: 0;
      }

      .text {
        flex: 1 100%;
        padding: 0;
      }
    }
  }
}
