section.graduates-cta {
  .text {
    max-width: 40rem;
    margin-left: auto;
    text-align: right;

    .button {
      overflow: hidden;
      position: relative;
      
      &:hover {
        @include buttonBackgroundGlitch(graduateButtonAnim, $magenta, $green, $white, alternate);
      }
    }
  }
}
