/* GRADUATES
---------------------------------------------------------------------------------------------------- */

.graduate-viewport {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.graduates {
  position: fixed;
  -webkit-perspective-origin:50% 50%;
  -moz-perspective-origin:50% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-perspective:300px;
  -moz-perspective:300px;
   width: 120rem;
   height:60rem;
    top: 50%;
    margin-top: -30rem;
}

.frame {
  position:absolute;
  width: 100%;

  &.first{
    transform:translateZ(-500px);
  }

  &.second {
    transform: translateZ(-25px);
  }
}
