section.landing {
  height: 100vh;

  .title-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 600px;
    width: 600px;
    margin-left: -300px;
    margin-top: -300px;
    white-space: nowrap;
    z-index: 1;
    transition: opacity .4s ease-in-out, transform 1s ease-in-out;

    span {
      position: relative;
      font-size: 14rem;
      letter-spacing: 4rem;
      font-family: $font-disrupt;
      display: inline-block;
    }

    span:first-of-type {
      top: 140px;
      left: -120px;
      z-index: 2;
      animation: float 5s infinite linear;
    }

    span:nth-of-type(2) {
      top: 330px;
      left: -125px;
      z-index: 2;
      animation: float 10s infinite linear;
    }

    span:last-of-type {
      top: 190px;
      left: -20px;
      z-index: 1;
      animation: float 7.5s infinite linear;
    }

    @media (max-width: 769px) {
      height: 300px;
      width: 300px;
      margin-left: -150px;
      margin-top: -150px;

      span {
        font-size: 7rem;
        position: relative;
        letter-spacing: 1rem;
      }

      span:first-of-type {
        left: 0px;
        top: 110px;
      }

      span:nth-of-type(2) {
        left: 0px;
        top: 190px;
      }

      span:last-of-type {
        left: 20px;
        top: 140px;
      }
    }
  }
}
