section.sponsors {
  .text {
    max-width: 50rem;
    margin-bottom: 5rem;
  }

  .sponsor-logos {
    img {
      height: 4rem;
      margin-right: 5rem;
      filter: grayscale(1);
      opacity: .6;
      cursor: pointer;

      &:hover {
        opacity: 1;
        filter: grayscale(0);
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
