section.sponsors {
  .text {
    max-width: 50rem;
    margin-bottom: 5rem;
  }

  .sponsor-logos {
    img {
      height: 4rem;
      margin-right: 5rem;
      transition: all 0.2s ease;
      cursor: pointer;

      &:hover {
        // opacity: 1;
        // filter: grayscale(0);
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 400px) {
   .sponsor-logos {
     img {
       height: 5rem;

       display: inline-block;
       margin-right: 4rem;
       margin-bottom: 4rem;
     }
   }
  }
}
