/* ELEMENTS - Styling of bare HTML elements (H1, A, etc.).
---------------------------------------------------------------------------------------------------- */
h1 {
	font-size: 6rem;
	line-height: 6rem;
	letter-spacing: 0.5rem;
}

h2 {
	font-size: 3.4rem;
	line-height: 4.6rem;
	letter-spacing: 0.35rem;
}

h3 {
	font-size: 2.4rem;
	line-height: 3.3rem;
	letter-spacing: 0.2rem;
}

h4 {
	font-size: 2rem;
	line-height: 2.8rem;
	letter-spacing: 0.15rem;
}

p {
	font-size: 1.6rem;
	line-height: 2;
	letter-spacing: 0.04rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
	text-transform: uppercase;
}

.title {
	font-family: $font-title;
	text-transform: uppercase;
	font-size: 10rem;
	letter-spacing: 6rem;
	font-weight: bold;
}

.disrupt-title {
	font-weight: $font-disrupt;
	text-transform: uppercase;
	font-size: 10rem;
	letter-spacing: 4rem;
}

// Ordered / Unordered List

// Anchor Tag

q,
blockquote {
	font-size: 2rem;
	line-height: 3.3rem;
	letter-spacing: 0.04rem;
}

.caption {
	font-size: 1.3rem;
	line-height: 1.6rem;
	letter-spacing: 0.15rem;
}

section {
	position: relative;
	display: block;
	height: 100%;
}


/* INPUTS
---------------------------------------------------------------------------------------------------- */
input[type="text"] {
	font-size: 1.4rem;
	line-height: 1.8rem;
	letter-spacing: .025rem;

	border-radius: 5px;
	height: 4.5rem;

	border: 1px solid #E3E8ED;
	box-shadow: 3px 5px 8px 0 #D5DFE9;
}
