/* ELEMENTS - Styling of bare HTML elements (H1, A, etc.).
---------------------------------------------------------------------------------------------------- */
h1 {
	font-size: 6rem;
	line-height: 6rem;
	letter-spacing: 0.5rem;
}

h2 {
	font-size: 4.4rem;
	line-height: 4.6rem;
	letter-spacing: 0.15rem;
	margin-bottom: 1.5rem;
}

h3 {
	font-size: 2.4rem;
	line-height: 3.3rem;
	letter-spacing: 0.2rem;
}
//
// h4 {
// 	font-size: 2rem;
// 	line-height: 2.8rem;
// 	letter-spacing: 0.15rem;
// }

p {
	font-size: 1.6rem;
	line-height: 2.3;
	letter-spacing: 0.04rem;
	margin-bottom: 2.3rem;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-family: $font-heading;
}

.title {
	font-family: $font-title;
	text-transform: uppercase;
	font-size: 12rem;
	letter-spacing: 10rem;
	font-weight: bold;
}

.disrupt-title {
	font-family: $font-disrupt;
	text-transform: uppercase;
	font-size: 12rem;
	letter-spacing: 10rem;
	font-weight: bold;
}

.caption {
	font-size: 1.2rem;
	line-height: 1;
	letter-spacing: 0.15rem;
	text-transform: uppercase;
	margin-bottom: 4rem;
	display: block;

	&.green {
		color: green;
	}

	&.magenta {
		color: $magenta;
	}
}

// Ordered / Unordered List

// Anchor Tag

q,
blockquote {
	font-size: 2rem;
	line-height: 3.3rem;
	letter-spacing: 0.04rem;
}

section {
	position: relative;
	display: block;
	height: 100%;
	padding-top: 20rem;
	padding-bottom: 20rem;

	@media (max-width: 768px) {
		padding-top: 8rem;
		padding-bottom: 8rem;

		&:last-of-type {
			padding-bottom: 16rem;
		}
	}
	//
	// @media (max-width: 640px) {
	// 	padding-top: 6rem;
	// 	padding-bottom: 6rem;
	// }
}


/* INPUTS
---------------------------------------------------------------------------------------------------- */
input[type="text"] {
	font-size: 1.4rem;
	line-height: 1.8rem;
	letter-spacing: .025rem;

	border-radius: 5px;
	height: 4.5rem;

	border: 1px solid #E3E8ED;
	box-shadow: 3px 5px 8px 0 #D5DFE9;
}
