/* OBJECTS - Class based selectors (Grid System, Wrapper)
---------------------------------------------------------------------------------------------------- */

/* GRADUATE-CIRCLES
---------------------------------------------------------------------------------------------------- */
.circle {
	border-radius: 50%;
	background-color: $purple;
	width: 10rem;
	height: 10rem;

	.small {
		width: 5rem;
		height: 5rem;
	}

	.medium {
		width: 10rem;
		height: 10rem;
	}

	.large {
		width: 15rem;
		height: 15rem;
	}
}


/* CONTAINER
---------------------------------------------------------------------------------------------------- */
.container {
	width: 100%;
	height: 100%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
	position: relative;
}

/* BUTTONS
---------------------------------------------------------------------------------------------------- */
.button {

}


/* GRID
---------------------------------------------------------------------------------------------------- */
.columns {
	display: flex;
	flex-wrap: wrap;
	margin-left: calc(1.5rem - #{$column-gap});
	margin-right: calc(1.5rem - #{$column-gap});

	.column {
		display: block;
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
		padding: $column-gap;
	}
}
