/* OBJECTS - Class based selectors (Grid System, Wrapper)
---------------------------------------------------------------------------------------------------- */

/* GRADUATE-CIRCLES
---------------------------------------------------------------------------------------------------- */
.circle {
	border-radius: 50%;
	background-color: $purple;
	width: 100%;
	max-width: 50rem;
	position: relative;
	background: $radial-gradient;
	margin: 2.5rem;
	display: block;
	box-shadow: $inner-box-shadow;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: $radial-gradient;
		border-radius: 50%;
		opacity: 0;
		box-shadow: $inner-box-shadow;
	}

	&::after {
		content: '';
		display: block;
		padding-top: 100%;
	}

	&.small {
		max-width: 10rem;
	}

	&.medium {
		max-width: 25rem;
	}

	&.large {
		max-width: 45rem;
	}

	&.background-image {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

	}

	&.sam {
		background-image: url('../img/sam.png');
	}
}

.graduate.circle, .graduate.circle::before {
	transition: opacity .5s ease-out, max-width .5s ease-out, margin .5s ease-out, transform 0.4s ease-out, box-shadow 0.2s ease;
}

// Collapse to purple dots
.graduate-group.collapsed .graduate.circle {
	max-width: 10rem !important;
	margin: 7.5rem;

	&::before {
		opacity: 1;
	}
}



/* CONTAINER
---------------------------------------------------------------------------------------------------- */
.container {
	width: 100%;
	height: 100%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
	position: relative;
}

/* CONTAINER
---------------------------------------------------------------------------------------------------- */
.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 2rem 0;
	width: 100%;
	white-space: nowrap;
}

/* BUTTONS
---------------------------------------------------------------------------------------------------- */
.button {
	display: inline-block;
	padding: 2rem 2.75rem;
	border: 1px solid $white;
	font-size: 1.6rem;
	text-transform: uppercase;
	color: $white;
	text-decoration: none;
	font-family: $font-title;
	letter-spacing: .13rem;
}
