/* COLOURS
---------------------------------------------------------------------------------------------------- */

/* MAIN */
$white: #FFFFFF;
$green: #66cc33;
$magenta: #cc33cc;
$dark-blue: #0f142c;

/* BACKGROUND */
$background: #090c1d;

/* GLITCH BUTTON VARIABLE COLOURS */
$charcoal: #3E3E3E;
$light-charcoal: #4B4B4B;
$grey: #CACACA;
$red: #DC3D50;
$blue: #515EA4;
$bright-green: #84F965;
$dull-green: #8BBE56;
$yellow: #F8CD60;
$purple: #B935C3;
$neon-cyan: #00ffff;
$neon-pink: #ff00ff;


/* GRADIENTS
---------------------------------------------------------------------------------------------------- */
$gradient-rainbow: linear-gradient(-225deg, #1A2A6C 0%, #B21F1F 63%, #F58E3E 98%);
$gradient-orange: linear-gradient(-45deg, #FF9916 0%, #FF5F09 100%);



/* FONTS
---------------------------------------------------------------------------------------------------- */
$font-primary: "sofia-pro", arial, sans-serif;



/* GRID
---------------------------------------------------------------------------------------------------- */
$column-gap: 3rem;
