/* COLOURS
---------------------------------------------------------------------------------------------------- */

/* MAIN */
$white: #FFFFFF;
$black: #000000;
$green: #66cc33;
$magenta: #cc33cc;
$dark-blue: #0f142c;

/* BACKGROUND */
$background: #090c1d;

/* GLITCH BUTTON VARIABLE COLOURS */
$charcoal: #3E3E3E;
$light-charcoal: #4B4B4B;
$grey: #CACACA;
$red: #DC3D50;
$blue: #515EA4;
$bright-green: #84F965;
$dull-green: #8BBE56;
$yellow: #F8CD60;
$purple: #4D0D98;
$neon-cyan: #00ffff;
$neon-pink: #ff00ff;


/* GRADIENTS
---------------------------------------------------------------------------------------------------- */
$gradient-rainbow: linear-gradient(-225deg, #1A2A6C 0%, #B21F1F 63%, #F58E3E 98%);
$gradient-orange: linear-gradient(-45deg, #FF9916 0%, #FF5F09 100%);



/* FONTS
---------------------------------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Karla:100,400,700");
@import url('https://fonts.googleapis.com/css?family=Saira+Condensed');

@font-face {
  font-family: 'Disrupt';
  src: url('../fonts/disrupt-webfont.woff2') format('woff2'),
       url('../fonts/disrupt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaPT-Heavy.woff') format('woff'), url('../fonts/FuturaPT-Heavy.ttf')
  format('truetype'), url('../fonts/FuturaPT-Heavy.svg#FuturaPT-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}


$font-body: "Karla", arial, sans-serif;
$font-heading: "Saira Condensed", arial, sans-serif;
$font-nav: "Saira Condensed", arial, sans-serif;
$font-title: "Futura", arial, sans-serif;
$font-disrupt: "Disrupt", arial, sans-serif;


/* GRID
---------------------------------------------------------------------------------------------------- */
$column-gap: 3rem;
