/* MIXINS
---------------------------------------------------------------------------------------------------- */

/*
Example usage:
.logo {
	@include at2x('/images/logo.png', 200px, 100px);
}
*/

@mixin at2x($path, $ext: 'jpg', $w: auto, $h: auto) {
	$at1x_path: '#{$path}.#{$ext}';
	$at2x_path: '#{$path}@2x.#{$ext}';

	background-image: url('#{$at1x_path}');

	@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
		background-image: url('#{$at2x_path}');
		background-size: $w $h;
	}
}


/* KEYFRAMES
---------------------------------------------------------------------------------------------------- */

@keyframes addBlur {
  0% {
    filter: blur(0px);
  }

  80% {
    filter: blur(12px);
  }

  100% {
    filter: blur(10px);
  }
}

.blur {
  animation-name: addBlur;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
    filter: blur(10px);
  }

  80% {
    opacity: 1;
    filter: blur(0px);
  }

  100% {
    transform: scale(1);
  }
}

.scaleIn {
  animation-name: scaleIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease;
}

/* FUNCTIONS
---------------------------------------------------------------------------------------------------- */
